*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(3, 2, 22);
}

.container{
    max-width: 1400px;
    height: 800px;
    margin: auto;
    background-color: white;
    margin-top: 10vh;
    display: flex;
}

.leftbar-container{
    flex-basis: 35%;
    padding: 40px;
    border-right: 2px grey solid;
    background-color: #1761ff;
    color: white;
}

.rightbar-container{
    flex-basis: 65%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* -------- Left Bar --------*/ 


.header{
    font-weight: 100;
    font-size: 36px;
}

.input-fields{
    margin-top: 90px;
}


.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.img-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(238, 255, 0);
    cursor: pointer;
}

.form-input{
    background-color: white;
    padding: 12px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.form-input .MuiSvgIcon-root{
    font-size: 22px;
    color: grey;
    margin-right: 12px;
}

input{
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.submit-btn, .update-btn{
    margin: auto;
    width: fit-content;
    margin-top: 70px;
    cursor: pointer;
}

.submit-btn button{
    background-color: transparent;
    border: 2px white solid;
    padding: 10px 12px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    color: white;
}

.update-btn button{
    background-color: transparent;
    border: 2px white solid;
    padding: 10px 12px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    color: white;
}


.choose-file{
  display: none;
}

.pop-up-box{
  height: 100vh;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.966);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center
}

.hide{
  display: none;
}

.progress-box{
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 40px;
  cursor: pointer;
}

.cross-btn .MuiSvgIcon-root{
  color: white;
  font-size: 40px;
}

.crop-field{
  width: 360px;
  margin: auto;
  padding: 40px;
  background-color: white;
}




.crop-btn{
    width: 100%;
    background-color: transparent;
    border: 2px #1761ff solid;
    padding: 10px 12px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    color: #1761ff;
    font-weight: bold;
    margin-top: 30px;
}




/*------ Right Bar -------*/

.users-list{
    margin-top: 40px;
    overflow-y: scroll;
    height: 100%;
}


.profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.table{
    width: 100%;
    border-collapse: collapse;
    background: rgb(238, 238, 238);
}

.table thead tr th{
    padding: 20px 0;
    border: 1px rgb(182, 182, 182) solid;
    font-size: 14px;
}

.table tbody tr{
    text-align: center;
    padding: 14px;
    border: 1px solid rgb(182, 182, 182);
}

.table tbody tr td{
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
}

.table .MuiSvgIcon-root{
    font-size: 22px;
}

.table tbody tr td:nth-child(3) {
    font-weight: bold;
}

.search-bar{
    margin-top: 18px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.search-bar .MuiSvgIcon-root{
    cursor: pointer;
}